@model Models.Register.Supplier
@{				Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Changing the data of a MANUFACTURER";
}

<div class="panel	panel-primary">
    <div class="panel-heading">
        Viewing details of a MANUFACTURER
    </div>
    <div class="panel-body">

        <div class="panel-body">
            @Html.Partial("~/Views/Suppliers/_PartialDetailsContentPanel.cshtml", Model)
        </div>

    </div>
    <div class="panel-footer	panel-info">
        @Html.ActionLink("Change", "Edit", new { id = Model.SupplierId }, new { @class = "btn	btn-info" })
        @Html.ActionLink("Return to the list", "Index", null, new { @class = "btn	btn-info" })
    </div>
</div>


@Html.Partial("~/Views/Product/_BySupplier.cshtml", Model.Products.ToList());
@section	ScriptPage	{
    <script src="~/Scripts/jquery.validate.min.js">

    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js">

    </script>
}
