@model Models.Register.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product by changing the data of a product";
}
<div class="panel	panel-primary">
    <div class="panel-heading">
        Viewing Product Details
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Product/_PartialDetailsContentPanel.cshtml", Model)
    </div>

    <div class="panel-footer	panel-info">
        @Html.ActionLink("Change", "Edit", new { id = Model.ProductId }, new { @class = "btn	btn-info" })
        @Html.ActionLink("Return to the list", "Index", null, new { @class = "btn	btn-info" })
    </div>
</div>
@section	ScriptPage	{
    <script type="text/javascript">

        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");

        });
    </script>
}

