@model Models.Register.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando	os	dados	de	um	FABRICANTE";
}

<div class="panel	panel-primary">
    <div class="panel-heading">
        Visualizando	detalhes	de	um	FABRICANTE
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Product/_PartialDetailsContentPanel.cshtml", Model)
    </div>
       
    <div class="panel-footer	panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProductId }, new { @class = "btn	btn-info" })
        @Html.ActionLink("Retornar	para	a	listagem", "Index", null, new { @class = "btn	btn-info" })
    </div>

</div> 
@section	ScriptPage	{
    <script type="text/javascript">

        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");

        });
    </script>
}



